/* CSS border properties allow you to specify the style, width, and color of an element's border. */
/* border-style: specifies what kind of border to display.
    dotted - Defines a dotted border
    dashed - Defines a dashed border
    solid - Defines a solid border
    double - Defines a double border
    groove - Defines a 3D grooved border. The effect depends on the border-color value
    ridge - Defines a 3D ridged border. The effect depends on the border-color value
    inset - Defines a 3D inset border. The effect depends on the border-color value
    outset - Defines a 3D outset border. The effect depends on the border-color value
    none - Defines no border
    hidden - Defines a hidden border */
/* border-width property specifies the width of the four borders. */
    /* with 2 values: top and bottom, left and right
    4 values: top,right, bottom,left */
/* border-color: specifies the color of the borders */
/* border-style: individual sides styles
    4 values: top,right,bottom,left 
    3 values: top, right and left, bottom
    2 values: top and bottom, right and left 
    1 values: all four borders */
/* border shorthand property: border-width, border-style, border-color */
/* border-radius property is used to add rounded borders to an element: */
.border {
    width: 50%;
    height: 100px;
    background-color: rgb(95, 10, 175);
    color: white;
    text-align: center;
    border-style: dashed;
    border-width: 40px;
    border-color: blue;
    border-radius: 60px;
}