/* The z-index property specifies the stack order of positioned elements.
The stack order defines which element should be placed in front or behind other elements. */
/* without position values z-index wont work elements follow normal order(stacked order) */
/* A postioned element with a greater stack order is always above an element with a lower stack order. */
.zindex1 {
    position: absolute;
    width: 20%;
    height: 50px;
    color: white;
    background-color: rgb(115, 10, 115);
    font-size: 30px;
    text-align: center;
    z-index: 3;
}
.zindex2 {
    position: absolute;
    width: 30%;
    height: 70px;
    color: white;
    background-color: rgb(153, 9, 93);
    font-size: 30px;
    text-align: center;
    z-index: 2;
}
.zindex3 {
    position: absolute;
    width: 40%;
    height: 90px;
    color: white;
    background-color: rgb(102, 81, 4);
    font-size: 30px;
    text-align: center;
    z-index: 1;
}