/* list-style-type property specifies the type of list-item marker in a list. */
    /* unordered lists: disc,circle,square
    ordered lists: decimal → 1, 2, 3, 4 … (default)
                    decimal-leading-zero → 01, 02, 03 …
                    lower-roman → i, ii, iii, iv …
                    upper-roman → I, II, III, IV …
                    lower-alpha → a, b, c, d …
                    upper-alpha → A, B, C, D …
                    lower-greek → α, β, γ, δ …
                    lower-latin / upper-latin → same as alpha
                    armenian → Armenian numbering style
                    georgian → Georgian numbering style */
/* list-style-image property is used to replace the list-item marker with an image. */
ol {
    list-style:none;
    padding:0;
} 
/* ol li{
    list-style-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/098/203/small/silver-tabby-cat-sitting-on-green-background-free-photo.jpg");
    list-style-type: square;
 } works only for small size images */

ol li {
    background: url("https://static.vecteezy.com/system/resources/thumbnails/002/098/203/small/silver-tabby-cat-sitting-on-green-background-free-photo.jpg") no-repeat;
    background-size: 20px 50px;
    padding-left: 30px;
    padding-bottom: 20px;
}
/* CSS list-style-position property specifies the position of the list-item markers (bullet points). */
ul li{
    border: 2px solid black;
    border-collapse: collapse;
    list-style-position: inside;
}